.loginCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.loginCard {
    width: 300px;
    padding: 20px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.displayNone {
    display : none;
}

.displayValidation {
    display : block;
}

.displayRed {
    color: red;
}